.form {
  margin: 2rem auto;
  width: 50%;
  border-radius: 6px;
  background-color: #03be9f;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
}

.form h1 {
  color: white;
}

.form p {
  color: white;
  text-align: left;
}

.fieldLabel {
  min-width: auto;
}

.fieldValue {
  font-weight: bold;
  margin-left: 1.5rem;
}

.control {
  margin-bottom: 1rem;
  flex: 1;
  min-width: 10rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: white;
  text-align: left;
}

.control input {
  background-color: #dcfff9;
  border: 1px solid #ccc;
  border-radius: 4px;
  font: inherit;
  padding: 0.25rem;
  width: 100%;
}

.actions {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font: inherit;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}

.button:hover,
.button:active {
  background-color: #dcfff9;
  border: 1px solid #ccc;
  color: #03be9f;
}