.summary {
  font-size: 1.5rem;
  color: #3a3a3a;
  width: 90%;
  max-width: 40rem;
  margin: auto;
  margin-top: 6rem;
  text-align: center;
}

.content {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 43rem;
  margin: auto;
  margin-top: 3rem;
  padding: 2rem 3rem;
}

.content a {
  text-decoration: none;
  color: #03be9f;
}

.content a:hover,
.content a:active {
  color: #74dacc;
}

.listNode {
  list-style-type: circle;
  padding: 0 0 0 2.5rem;
}

.listItem {
  padding: 0.5rem 0;
}